name: TryPipeline
on:
  [push, workflow_dispatch]
  
jobs:
  apiRobotTest:
    name: Robot - Api
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install robotframework
          pip install robotframework-seleniumlibrary
          pip install robotframework-requests
      - name: Start Test
        run: |
          python -m robot -i api test/RobotFrameWork/tc.robot
          
  postman:
    name: Postman - Run test
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v2
      - name: Run NewMan
        run: |
          docker pull reportportal/newman      
          docker run -t reportportal/newman run https://raw.githubusercontent.com/procesor2017/gitHubWorkShop/master/test/Postman/TestApi.json
          
          
